{{! <h2>footer</h2> }}

<style>
  .footer { position: fixed; left: 0; bottom: 0; width: 100%;
  background-color:pink; color: black; text-align: center; }
</style>

<div class="footer">
  <p>Hôm Nay Ăn Gì</p>
</div>