<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="Login-input">Login</label>
            <input type="text" name="q" class="form-control" id="Login-input" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>